* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #02799D;
  --bg-color: #FFF;

  --font-color: #323238;
  --ffamily: 'Roboto', sans-serif;

  font-size: 62.5%;
}

body {
  background: var(--bg-color);

  font-family: var(--ffamily);
  font-weight: 500;
  
  min-height: 100vh;

  display: grid;
  justify-content: center;

  color: var(--font-color);

  transition: all .5s linear;
}

body.dark {
  background: var(--font-color);

  color: var(--bg-color);
}

body.dark .sound-butons button svg path:nth-child(1) {
  fill: #29292E;
}

body.dark .sound-butons button.active svg path:nth-child(1) {
  fill: #0A3442;
}

body.dark .control-buttons button svg path, body.dark .sound-butons button svg path:nth-child(2) {
  fill: #C4C4CC;
} 


button {
  background: transparent;
  border: none;

  outline: none;
}

main {
  max-width: 82.1rem;

  display: flex;
  align-items: center;
  gap: 19.2rem;
}

.timer-display {
  display: flex;
  justify-content: center;
  font-size: clamp( 5rem ,7rem + 8vw,12.6rem);
  line-height: 14.8rem;
  margin-bottom: 1.7rem;
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sound-butons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.sound-butons button {
  position: relative;
}

.sound-butons button input {
  position: absolute;
  left: 2.6rem;
  bottom: 3rem;
  
  z-index: 1;
  
  max-width: 9rem;

  border-radius: 5px;

  appearance: none;
  -webkit-appearance: none;
  background: var(--font-color);

  height: 4px;
}

.sound-butons button.active input {
  background: var(--bg-color);
}

body.dark .sound-butons button input, body.dark .sound-butons button input::-webkit-slider-thumb  {
  background: var(--bg-color);
}

.sound-butons button input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%; 

  background: var(--font-color);
  cursor: pointer;
}

.sound-butons button.active input::-webkit-slider-thumb {
  background: var(--bg-color);
}

.sound-butons button.active svg path:nth-child(1){
  fill: #0A3442;
}

.sound-butons button.active svg path:nth-child(2){
  fill: var(--bg-color);
} 

button.light, button.dark {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;

  display: none;
}

.light.active{
  display: block;
}

.dark.active{
  display: block;
}
